@import '../../assets/styles/variables.sass'

$SidebarItemPads: 8px
$SidebarBgColor: 	#23272a
$TitleBgColor: #F24E29
$TitleTextColor: #EAF2DF
$TitleHrLineColor: #EAF2DF
$NavItemTextColor: #EAF2DF
$NavItemActiveBgColor: #84D9C9
$NavItemActiveTextColor: #23272a

aside
  overflow: hidden
  width: $sidebarWidthSm
  @media #{$md}
    width: $sidebarWidth
  background-color: $SidebarBgColor
  .sidebar-title
    padding: #{$SidebarItemPads * 2} #{$SidebarItemPads}
    border-bottom: 1px solid $TitleHrLineColor
    background-color: $TitleBgColor
    color: $TitleTextColor
    font-weight: 700
    text-transform: uppercase
    text-align: center
    @media #{$md}
      text-align: left
    .title-icon
      @media #{$md}
        margin-right: 4px
    .title-text
      display: none
      @media #{$md}
        display: inline
  nav
    display: flex
    flex-direction: column
    a
      flex: 1
      text-decoration: none
      padding: #{$SidebarItemPads}
      color: $NavItemTextColor
      font-size: .9rem
      text-align: center
      @media #{$md}
        text-align: left
      &:hover
        background-color: $NavItemActiveBgColor
        color: $NavItemActiveTextColor
      &.active
        color: $NavItemActiveTextColor
        background-color: $NavItemActiveBgColor
      & > .route-icon
        vertical-align: middle
        @media #{$md}
          margin-right: 4px
      & > .route-title
        display: none
        @media #{$md}
          display: inline
